worker_processes 1;
error_log /var/log/nginx/error.log;
events{
    worker_connections 1024;
}

http{
    include      mime.types;
    default_type application/octet-stream;

    log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                  '$status $body_bytes_sent "$http_referer" '
                  '"$http_user_agent" "$http_x_forwarded_for" '
                  '"$bytes_sent" "$request_length" "$request_time" '
                  '"$gzip_ratio" $server_protocol ';

    access_log /var/log/nginx/access.log main;

    {{/* Upstreams */ -}}
    {{- range .Connection }}
    {{- range .Routes }}
    upstream {{ .Upstream.Name }} {
        server services:{{ .Upstream.Port }};
    }
    {{- end }}
    {{- end }}

    {{/* Servers */ -}}
    {{ range .Connection }}
    server {
        listen {{ .Port }};
        server_name {{ .Host }};
    {{ range .Routes }}
        location {{ .Path }} {
            proxy_pass http://{{ .Upstream.Name }};
        }
    {{ end }}
    }
    {{- end }}

}